@import"https://use.typekit.net/jmk3xov.css";

body{
  width:100%;
  height: 100%;
  /* overflow-y: auto; */
  overflow-x:hidden;}

@media screen and (max-width: 1024px) {body{
  width:100%;
  overflow-x:hidden;
  /* overflow-y: hidden; */
  background-color: white;}}

:root{
  --dark-bg: rgba(15, 15, 15, .65);
  --spacing: 350px;
  font-family:brandon-grotesque,sans-serif;
  font-weight:400;
  font-style:normal}

canvas{
  height:auto;
  width:100%;
  position:fixed;
  top:0;
  left:0}

@media screen and (max-width: 1024px) {canvas{
  min-height: 100%;
  }}


main{
  overflow: hidden;
  position:absolute;
  color:#fff;
  z-index:99;
  width:auto;
  margin:auto;
  padding:15% 0;
  display:grid;
  grid-template-columns:repeat(12,1fr)}

@media screen and (max-width: 1024px) {
  h1, header{
  grid-column:2 / span 8;
  font-size:150%;
   margin-top: 0%;
   padding:0rem;
   margin-bottom:0%;
  }}

  @media screen and (max-width: 1024px) {
    #what_is{
    grid-column:2 / span 8;
    font-size:2.5rem;
     padding:0rem;
     margin-bottom:0%;
     margin-right: 0%;
    }}

header{
  grid-column:2 / span 5;
  font-size:2.5rem;
  padding:2rem;
  margin-bottom:var(--spacing);}

@media screen and (max-width: 1024px) {
  section{
  min-width: 60%;
  margin-bottom:0%;
  } }

section{
  grid-column:2 / 8;
  padding:10rem;
  font-size:1.25rem;
  line-height:1.5;
  margin-bottom:var(--spacing)}

@media screen and (max-width: 1024px) {
  blockquote{
    margin-bottom:0%;
    margin:auto;
    min-width: 60%;}
}

blockquote{
  margin:0;
  padding:0;
  grid-column:4 / span 9;
  margin-bottom:var(--spacing);
  font-size:185%;
  color:#fff;
  margin-right:40%;}

  blockquote p{
    display:inline;
    line-height:1;}

.introduction{
  margin-top:0%;
  background:var(--dark-bg);
  padding:2%;
  display:block;}

  @media screen and (max-width: 1024px) {.introduction{
    min-width: 110%;
    margin-right:20%;
    margin-left: -40%;
    background:var(--dark-bg);
    /* background-color: transparent; */
    /* font-style: italic; */
    margin-bottom: 40%;
    }}

#documentation{
  display: block;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0%;
  direction: ltr;
}

.description{
  grid-column:3 / span 8;
  padding:2rem;
  margin-left:auto;
  margin-right:65%;
  margin-bottom: 10%;
}


@media screen and (max-width: 1024px) {
  .description{
    margin: auto;
    min-width: 80%;
    margin-bottom: 0%;
    background:var(--dark-bg);
    padding-top:0%;
    padding-left: 4%;
  }
}

.heterotopia{
  padding:2%;
  padding-top: 0%;
  margin-left:50%;
  margin-right:-50%;
  background:var(--dark-bg);}

h2{
  padding-top: 0%;
}

@media screen and (max-width: 1024px) {.heterotopia{
  min-width: 90%;
  margin-right:auto;
  margin-left: auto;
  padding:3%;
  background-color: transparent;
  }}





.PAIKKA{
  padding:2%;
  padding-right: 20%;
  padding-left: 20%;}

  @media screen and (max-width: 1024px) {.PAIKKA{
    min-width: 100%;
    margin-left: -10%;
    margin-bottom: 10%;
    }}

.proposal{
  grid-column:4 / 12;
  margin-right:30%;
  background:var(--dark-bg);
  padding:0% 3%}

  @media screen and (max-width: 1024px) {.proposal{
    min-width: 90%;
    margin-right:35%;
    margin-left: -5%;
    padding-top: 0%;
    padding-left: 4%;
  }}


.needs{
  grid-column:6 / 12;
  margin-bottom:40%;
  margin-right:10%}

  @media screen and (max-width: 1024px) {.needs{
  grid-column:2 / 12;
    min-width: 90%;
    margin-right:20%;
    margin-left: auto;
    margin-bottom: 25%;
    padding:3%;
    background-color: transparent;
  }}



.meet{
  padding:0;
  grid-column:8 / 9;
  font-size:350%;
  color:#fff;
  margin-bottom:0%}

  @media screen and (max-width: 1024px) {.meet{
    margin-top: 00%;
    margin-bottom: 00%;
    min-width: 60%;
    /* margin-left: -20%; */
    grid-column: 5 / span 9;
    }}

.name_container{
  min-width: 90%;
  margin-bottom: 0%;
}



#Sanna{grid-column:3 / span 8;
  margin-top: -10%;
  min-width: 80%;
  padding:2rem;
  margin-left:auto;
  margin-right:65%;
  margin-bottom: 10%;}

  @media screen and (max-width: 1024px) {#Sanna{
    grid-column:2 / span 8;
    min-width: 90%;
    padding:0%;
    margin-left: -30%;
    margin-bottom: 30%;
    }}


#Janos{
  padding:2%;
  margin-left:50%;
  margin-right:-40%;
  background:var(--dark-bg);
margin-bottom: 0%;}

@media screen and (max-width: 1024px) {#Janos{
  min-width: 100%;
  padding:4%;
  padding-top: 0.1%;
  margin-right: 50%;
  margin-left: -50%;
  }}

  #Gabor{grid-column:8 / span 8;
    margin-top:-40%;
    padding:2rem;
    margin-left:120%;
    margin-right:-90%;
    margin-bottom: 10%;
  background:var(--dark-bg);}

@media screen and (max-width: 1024px) {#Gabor{
      min-width: 70%;
      margin-top:20%;
      padding:4%;
      padding-top: 0.1%;
      margin-left: 30%;
      margin-right: 20%;
      margin-bottom: 30%;
      }}

#Mili{
  margin-top: -10%;
  grid-column:2 / 8;
  min-width: 80%;
  padding:2rem;
  margin-right:85%;
  margin-bottom: 0%;}

  @media screen and (max-width: 1024px) {#Mili{
    margin-top: -30%;
    min-width: 100%;
    padding:0%;
    margin-right: 10%;
    }}



#Eszter{
  margin-top: -10%;
  padding:2%;
  margin-left:40%;
  margin-right:-30%;
  margin-bottom: 0%;
}

@media screen and (max-width: 1024px) {#Eszter{
  margin-top: -20%;
  min-width: 100%;
  padding:4%;
  margin-right: 60%;
  margin-left: 10%;
  }}



.closing{
   /* margin:0;
  padding:0;
  grid-column:4 / span 9;
  margin-bottom:var(--spacing);
  font-size:185%;
  color:#fff;
  margin-right:40%; */
  font-size: 110%;

  margin-bottom:-18%;
  margin-left: 18%;
  padding-top: 20%;}
  /* padding-bottom: -20%;} */

  @media screen and (max-width: 1024px) {.closing{
    /* grid-column:2 / span 9; */
    /* margin-right: 20%; */
    margin-bottom: -10%;
  }}

  a{
    color:#e6e6ff;
  }

  a:visited{
    color:#ccccff;
  }

a:hover{
  color:black;
}

#title{
  color:#e6e6ff;
}
