@import url(https://fonts.googleapis.com/css2?family=Rock+3D&display=swap);
*{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html, body{
    font-family: Playfair Display, serif;
    color: white;
    overflow: hidden;
}

.webgl{
    position: fixed;
    outline: none;
    width:100%;
}

.content{
  position: fixed;
  display:grid;
  align-items: center;
  z-index: 1;
}

h1{
  font-size: 5em;
  font-weiht: lighter;
  font-size: 100%;
  margin-left: 2vw;
}


/*# sourceMappingURL=main.css.map*/